@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wdth,wght@0,75..100,300..800;1,75..100,300..800&display=swap');

.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" <width>;
}
.header-content {
    display: inline-block;
    padding: 1rem 1rem;
    vertical-align: middle;
}
.header-content a {
    color:#3DAEFF;
}
.bsky a:hover {
    color:#1081F6;
}
.instagram a:hover {
    color:#D13F74;
}
.linkedin a:hover {
    color:#0A63BC;
}
.strava a:hover {
    color:#F44A01;
}
.email a:hover {
    color:#007ACC;
}
.socials {
    float: right;
    vertical-align: middle;
    font-size: 2vh;
}
.chinese{
    font-weight: 400;
}
h1 {
    margin: 0;
    font-weight: 800;
    font-size:3.2vh;
}
h2 {
    margin: 0;
    font-weight: 300;
    font-size:2.6vh;
}
footer {
    text-align: center;
    font-size: 1.8vh;
}
.home {
    background-color: #C1E0F2;
    background-image: url("../img/guideway.svg"), url("../img/skyline.svg");
    background-position: center bottom, center top;
    background-attachment:fixed, fixed;
    background-repeat: no-repeat, no-repeat;
    background-size: auto 60%, auto 60%;
}
.sitewide {
    font-family: "Open Sans", "Franklin Gothic Medium", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.accueil {
    font-family: "Open Sans", "Franklin Gothic Medium", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #C1E0F2;
    background-image: url("../img/guideway.svg"), url("../img/skyline2.svg");
    background-position: center bottom, center top;
    background-attachment:fixed, fixed;
    background-repeat: no-repeat, no-repeat;
    background-size: auto 60%, auto 60%;
}
.frontpage, .home {
    height: 100%;
    margin: 0;
    overflow: hidden;
    position: relative;
}
.contentpage, .content {
    overflow-x: hidden;
}
a:link {
  text-decoration: none;
}
details {
    background-color: #F2EAE0;
    border: 5px solid #9AB17A;
    border-radius: 10px;
    padding: 1em;
    margin-bottom: 2vh;
}
details:hover {
    background-color: #EFD9BD;
}
summary {
    font-size: 2.4vh;
}
.bicycle {
    position: absolute;
    width: 600px;
    bottom: -1%;
    left: 35%;
}
@keyframes driveTrain {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-300em);
    }
}
.train {
    position:absolute;
    bottom:60%;
    left:110%;
    animation-name: driveTrain;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.train img {
    height: 3vh;
}
.sign {
    color:white;
    background:white;
    position:absolute;
    left: 10%;
    top: 45%;
    min-width:400px;
    width: 20%;
    border: solid;
    border-color: white;
    border-width: 8px;
}
.sign a {
    color: white;
}
.sign a:visited {
    color:white;
}
.sign-content {
    background-color:#007869;
    padding:1px 0 1px 0;
}
.sign-top {
    text-align: center;
    border-bottom: 5px solid white;
    border-radius: 20px 20px 0 0;
}
.sign-mid {
    text-align: left;
    border-bottom: 5px solid white;
    display: flex;
}
.sign-bottom {
    text-align: right;
    justify-content: right;
    border-radius: 0 0 20px 20px;
    display: flex;
    flex-wrap: wrap;
}
.wf-title {
    font-family:"Open Sans",Helvetica,Arial,sans-serif;
    font-stretch: condensed;
    font-weight: 600;
    font-size: 24pt;
    text-transform: uppercase;
    margin-top: 5px;
    margin-bottom: 10px;
}
.wf-first {
    font-family:"Open Sans",Helvetica,Arial,sans-serif;
    font-stretch: condensed;
    font-size: 32pt;
    margin-top: 0;
    margin-bottom: 0;
    vertical-align: middle;
}
.wf-second {
    font-family:"Open Sans",Helvetica,Arial,sans-serif;
    font-stretch: condensed;
    font-size: 20pt;
    padding-right: 70px;
    margin-top: 0;
    margin-bottom: 5px;
}
.roundel a {
    margin-top: 0;
    margin-bottom: 0;
}
.roundel {
    font-size: 24pt;
    background-color:#C91A1A;
    text-align:center;
    border-style:solid;
    border-color: white;
    border-radius:10px;
    padding: 0 10px 0 10px;
}
.roundel:hover {
    background:#C64949;
}
.arrow-vertical {
    padding: 5px 14px 5px 14px;
    vertical-align: middle;
}
.arrow-horizontal {
    padding-left:10px;
    padding-right:10px;
    padding-top: 8px;
    padding-bottom: 0px;
    vertical-align: middle;
}
.bike-icon {
   margin-top: 15px;
   margin-bottom: 0; 
}
.flex-break {
    flex-basis: 100%;
    height: 0;
}
.sign-pole {
    position: absolute;
    width: 50px;
    left: 20%;
    top: 50%;
}
.name {
    color: black !important;
}
.name a:visited {
    color: black;
}
.name a:hover {
    text-decoration: underline black 2px;
    
}
.topnav {
    height: 20vh;
    background-color: #C1E0F2;
    background-image: url("../img/banner.svg"), url("../img/banner2.svg");
    background-position: right bottom, left bottom;
    background-repeat: no-repeat, repeat-x;
    background-size: auto 100%, auto 100%;
}
.back {
    position: fixed;
    float: right;
    height: 12vh;
    bottom: 20px;
    right: 20px;
}
.content {
    margin: 0;
    position: relative;
}
.body-text {
    margin-top: 6vh;
    margin-left: 25vw;
    margin-right: 25vw;
}
.body-text h1 {
    font-size: 3.6vh;
}
.body-text p {
    color:black;
    font-size: 2.4vh;
}
.body-text a {
    text-decoration: underline;
    color:black;
}
.body-text a:visited {
    color: black;
}
.body-text img {
    position: relative;
    width: 100%;
    margin-bottom: 3vh;
}
.notice p {
    margin-block-end: 0;
}
@media all and (max-width: 500px){
    .socials {
        float: none;
        vertical-align: middle;
        font-size:3vh;
    }
    .socials-pages {
        display: none;
    }
    .sign {
        top: 30%;
        width: 80%;
        left: 10%;
        min-width:0;
    }
    .wf-first {
        font-size: 24pt;
    }
    .wf-second {
        font-size: 16pt;
        padding-right: 50px;
    }
    .arrow-vertical img {
        height: 30px;
    }
    .arrow-horizontal img {
        width: 30px;
    }
    .roundel {
        font-size: 16pt;
    }
    .sign-pole {
        left: 45%;
    }
    .body-text {
        margin-left: 15vw;
        margin-right: 15vw;
    }
    .body-text p {
        font-size: 2vh;
    }
}
@media all and (max-width: 1500px){
        .bicycle {
        display: none;
    }
}